body{
    margin: 0;
    padding: 0;
}

p{
    font-size: 18px;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 26px;
}

h3{
    font-size: 24px;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 45rem;
    margin: auto;
}

nav ul {
    /* margin: auto; */
    max-width: 70rem;
    padding: 0.75rem;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
}

.logo{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

nav a{
    justify-content: space-between;
    text-decoration: none;
    color: rgb(188, 0, 0);
    font-size: 18px;
}

.hero-image{
    background-image: url(../images/building-min.jpg);
    min-height: 25rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-items{
    margin: 5rem;
    text-align: center;
}
.hero h1{
    color: rgb(188, 0, 0);
}

.home-image{
    width: 10rem;
}

#menu {
    display: flex; /*bring them next to each other*/
    gap: 1.25rem;
    list-style-type:none; /*get rid of the dots*/
}

#menu-toggle {
    display: none;
    font-size: 1rem;
    color: white;
    border: none;
}

#menu.active {
    display: flex;
}

#featured-products{
    display: flex;
    gap: 8rem;
    justify-content: center;
}

#featured-products p{
    display: flex;
    align-items: center;
    justify-content: center;
}


.home-image{
    max-height: 15rem;
    width: 100%;
}

.shop-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.button{
    background-color: rgb(188, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.about{
    background-image: url(../images/gandm-min.jpg);
    min-height: 25rem;
    background-size: cover;
    background-position: center;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section h2,  .about-section p{
    color: white;
}

.about-section{
    max-width: 30rem;
    background-color:#7C0000 ;
    padding: 2rem;
}


.subscribe-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
}

.subscribe-box{
    padding: 3.4375rem;
    background-color: #7C0000;
    border-radius: 32pxs;
    text-align: center;
    overflow: hidden;
}

.subscribe-box h3, .subscribe-box p{
    color: white;
}

.subscribe-box input{
    padding: 1rem 5rem;
    border: none;
    outline: none;
    background: white;
}

.subscribe-box button{
    color: white;
    padding: 1rem 1.25rem;
    border: none;
    border-radius: .3125rem;
    background: rgb(184, 15, 15);
    cursor: pointer;
    transition: .3s;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3.5rem;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 2rem;
}

.footer-content img{
    height: 4rem;
    margin: 5rem auto auto;
}

.footer-content h4{
    color: #7C0000;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content li{
    margin-bottom: 1rem;
    list-style-type: none;
}

.footer-content li a{
    display: block;
    color:#7C0000;
    font-size: 1rem;
    font-weight: 400;
    transition: all .40s ease;
    text-decoration: none;
}

/*shop*/
.shop-hero {
    background-image: url(../images/products-min.png);
    height: 25rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-hero h1{
    background-color: rgb(30, 30, 30);
    color: white;
}

#shop-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    margin: 5rem auto 5rem auto;
}

.shop-image{
    height: 15rem;
}




/*cart*/

.checkout{
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7C0000;
    margin-top: 2rem;
}

.content{
    height: 15rem;
    display: grid;
}

.details-image{
    height: 10rem;
}

.description{
    max-width: 40rem;
}

.cart-container{
    position: relative;
    max-width: 56.25rem;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: white;
}

.cart-container header{
    font-size: 20px;
    font-weight: 490px;
    color: #7C0000;
}

.cart-container form {
    position: relative;
    margin-top: 16px;
    min-height: 30rem;
    overflow: hidden;
}

.cart-container form .details{
    margin-top: 30px;
}

.cart-container form .details.payment{
    margin-top: 10px;
}

.cart-container form .details.delivery{
    margin-top: 10px;
}

.cart-container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    margin: 6px 0;
    color: #7C0000;
}

.cart-container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label{
    font-size: 16px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 12.5rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 25px 0;
    outline: none;
    color: white;
    background-color: #7C0000;
    transition: all 0.3s linear;
    cursor: pointer;
}

.submit:hover{
    background-color: #a50000;
}





/*really large screens*/
@media screen and (min-width: 70rem) {
    .hero-image{
        min-height: 30rem;
    }

    #shop-products{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .shop-image{
        height: 20rem;
        width: 16rem;
        object-fit: cover;
    }
}

/*desktop screens*/
@media screen and (max-width: 48rem){
    p{
        font-size: 16px;
    }
    
    h1{
        font-size: 26px;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 22px;
    }
    


    #featured-products{
        gap: 2rem;
    }

    .home-image{
        object-fit: cover;
        max-height: 15rem;
        width: 100%;
    }

    .about{
        min-height: 15rem;
        margin-top: 4rem;
    }

    .about-section{
        max-width: 15rem;
        padding: 1.5rem;
    }


    #shop-products{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 0.75rem;
        margin: 3rem auto 3rem auto;
        object-fit: contain;
    }

    .shop-hero{
        height: 20rem;
    }
    
    .shop-image{
        height: 15rem;
    }

    /*cart*/
    .checkout{
        height: 130vh;
    }

    .cart-container form{
        overflow-y: scroll;
    }

    .cart-container form::-webkit-scrollbar{
        display: none;
    }

    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }

    .footer-content img{
        height: 3rem;
        margin: 3rem auto auto;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .checkout{
        height: 180vh;
    }
}

/*mobile screens*/
@media screen and (max-width:30rem){
    #menu-toggle {
        display: block;
        color: #7C0000;
        background-color: transparent;
    }
    #menu {
        display: none;
        flex-direction: column; /*make it a column when in phone*/
        position: absolute;
        top: 50px;
        right: 20px;
        padding: 1.25rem;
        border-radius: 10px;
        background-color: white;
    }
    
    h1{
        font-size: 24px;
    }

    h2{
        font-size: 22px;
    }

    h3{
        font-size: 20px;
    }
    

    nav a {
        font-size: 16px;
    }

    #featured-products{
        flex-direction: column;
        gap: 1rem;
    }

    .hero-image{
        min-height: 20rem;
    }
    

    .hero-items{
        margin: 2rem;
    }

    .about{
        min-height: 15rem;
        margin-top: 3rem;
    }

    .about-section{
        max-width: 10rem;
        padding: 16px;
    }

    .subscribe-box{
        padding: 2rem;
    }

    .subscribe-box input{
        padding: 0.75rem 3rem;
    }

    .subscribe-box button{
        padding: 0.75rem 1rem;
    }


    
    #shop-products{
        grid-template-columns: 1fr;
    }
    
    .shop-image{
        height: 15rem;
        width: 15rem;
        object-fit: cover;
    }

    .checkout{
        height: 190vh;
        background-color: #7C0000;
    }

    form .fields .input-field{
        width: 100%;
    }

    .footer-content img{
        height: 2.5rem;
        margin: 2rem auto auto;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }

    .checkout{
        height: 250vh;
    }
}
